@import 'colors';

.btn-black {
    color: $white;
    background: $black;
    padding: 4px 6px;
    text-align: center;
    border: solid 1px $black;
    border-radius: 4px;
	box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: small;
    -webkit-transition: (0.2s ease-in-out);
	-moz-transition: (0.2s ease-in-out); 
	-o-transition: (0.2s ease-in-out); 
	transition: (0.2s ease-in-out);  
    cursor:pointer;
    text-decoration: none;

    &:hover {
        background: lighten($black,10%);
        text-decoration: none;
        color: $white;
    }
    @media only screen and (max-width: 950px)  {
        font-size: x-small;
    }
}

.btn-red {
    color: $red;
    background: none;
    padding: 4px 6px;
    text-align: center;
    border: solid 1px $red;
    border-radius: 4px;
	box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: small;
    -webkit-transition: (0.2s ease-in-out);
	-moz-transition: (0.2s ease-in-out); 
	-o-transition: (0.2s ease-in-out); 
	transition: (0.2s ease-in-out);  
    cursor:pointer;
    text-decoration: none;

    &:hover {
        color: lighten($red,10%);
        text-decoration: none;
    }
    @media only screen and (max-width: 950px)  {
        font-size: x-small;
    }
}

.btn-list {
    color: $grey2;
    background: transparent;
    text-align: right;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: medium;
    font-weight: normal;
    -webkit-transition: (0.2s ease-in-out);
    -moz-transition: (0.2s ease-in-out); 
    -o-transition: (0.2s ease-in-out); 
    transition: (0.2s ease-in-out);  
    cursor:pointer;
    text-decoration: none;

    @media only screen and (max-width: 950px)  {
        font-size: small;
    }

    &:hover {
    color: $grey3;
    text-decoration: none;
    }
}

.btn-item {
    color: $white;
    background: $blue;
    padding: 4px 6px;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: medium;
    font-weight: bold;
    -webkit-transition: (0.2s ease-in-out);
    -moz-transition: (0.2s ease-in-out); 
    -o-transition: (0.2s ease-in-out); 
    transition: (0.2s ease-in-out);  
    cursor:pointer;
    text-decoration: none;

    @media only screen and (max-width: 950px)  {
        font-size: small;
    }

    &:hover {
    background: darken($blue,10%);
    text-decoration: none;
    box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    -moz-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    }
}

.btn-access {
    color: $black;
    background: $grey1;
    padding: 4px 6px;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: medium;
    font-weight: bold;
    -webkit-transition: (0.2s ease-in-out);
    -moz-transition: (0.2s ease-in-out); 
    -o-transition: (0.2s ease-in-out); 
    transition: (0.2s ease-in-out);  
    cursor:pointer;
    text-decoration: none;

    @media only screen and (max-width: 950px)  {
        font-size: small;
    }

    &:hover {
    background: darken($grey1,10%);
    text-decoration: none;
    box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    -moz-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    }
}

.btn-copy {
    color: $black;
    padding: auto;
    text-align: center;
    align-items: center;
    border: none;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: small;
    font-weight: bold;
    -webkit-transition: (0.2s ease-in-out);
    -moz-transition: (0.2s ease-in-out); 
    -o-transition: (0.2s ease-in-out); 
    transition: (0.2s ease-in-out);  
    cursor:pointer;
    text-decoration: none;

    &:hover {
    color: darken($grey3,10%);
    text-decoration: none;
    text-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    -webkit-text-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    -moz-text-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    }
}

.btn-share {
    color: $white;
    background: $blue;
    padding: 4px 6px;
    text-align: center;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: small;
    font-weight: bold;
    -webkit-transition: (0.2s ease-in-out);
    -moz-transition: (0.2s ease-in-out); 
    -o-transition: (0.2s ease-in-out); 
    transition: (0.2s ease-in-out);  
    cursor:pointer;
    text-decoration: none;
    @media only screen and (max-width: 950px)  {
        font-size: x-small;
    }

    &:hover {
    color: darken($white,10%);
    text-decoration: none;
    text-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    -webkit-text-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    -moz-text-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    }
}

.btn-follow {
    color: $green;
    background: $white;
    border: $green solid 2px;
    padding: 2px 4px;
    text-align: center;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    width: 70px;
    font-size: x-small;
    font-weight: bold;
    -webkit-transition: (0.2s ease-in-out);
    -moz-transition: (0.2s ease-in-out); 
    -o-transition: (0.2s ease-in-out); 
    transition: (0.2s ease-in-out);  
    cursor:pointer;
    text-decoration: none;
    @media only screen and (max-width: 950px)  {
        font-size: x-small;
    }

    &:hover {
    color: darken($green,10%);
    text-decoration: none;
    text-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    -webkit-text-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    -moz-text-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    }
}

.btn-following {
    color: $white;
    background: $green;
    border: $green solid 2px;
    padding: 2px 4px;
    width: 70px;
    text-align: center;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: x-small;
    font-weight: normal;
    -webkit-transition: (0.2s ease-in-out);
    -moz-transition: (0.2s ease-in-out); 
    -o-transition: (0.2s ease-in-out); 
    transition: (0.2s ease-in-out);  
    cursor:pointer;
    text-decoration: none;
    @media only screen and (max-width: 950px)  {
        font-size: x-small;
    }

    &:hover {
    background: darken($green,10%);
    text-decoration: none;
    text-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    -webkit-text-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    -moz-text-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    }
}

.follower-count {
    color: $green;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: x-small;
    font-weight: bold;
    font-size: 15px;
    padding: 0px 10px;
}


.remove-item {
    color: $red !important;
}

.remove-item:hover {
    cursor: pointer;
    color: $red !important;
}