@import 'colors';

.btn-black {
    color: $white;
    background: $black;
    padding: 8px 12px;
    text-align: center;
    border: none;
    border-radius: 4px;
	box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: small;
    -webkit-transition: (0.2s ease-in-out);
	-moz-transition: (0.2s ease-in-out); 
	-o-transition: (0.2s ease-in-out); 
	transition: (0.2s ease-in-out);  
    cursor:pointer;
    text-decoration: none;

    &:hover {
        background: lighten($black,10%);
        text-decoration: none;
        color: $white;
    }
}

.btn-list {
    color: $grey4;
    background: transparent;
    text-align: right;
    padding-right: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-style: normal;
    font-size: medium;
    font-weight: normal;
    -webkit-transition: (0.2s ease-in-out);
    -moz-transition: (0.2s ease-in-out); 
    -o-transition: (0.2s ease-in-out); 
    transition: (0.2s ease-in-out);  
    cursor:pointer;
    text-decoration: none;

    @media only screen and (max-width: 600px)  {
        font-size: x-small;
    }

    &:hover {
    color: $grey3;
    text-decoration: none;
    }
}

.btn-item {
    color: $white;
    background: $blue;
    padding: 4px 6px;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: small;
    font-weight: normal;
    -webkit-transition: (0.2s ease-in-out);
    -moz-transition: (0.2s ease-in-out); 
    -o-transition: (0.2s ease-in-out); 
    transition: (0.2s ease-in-out);  
    cursor:pointer;
    text-decoration: none;

    @media only screen and (max-width: 600px)  {
        font-size: x-small;
    }

    &:hover {
    background: darken($blue,10%);
    text-decoration: none;
    box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    -moz-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
    }
}

.remove-item {
    color: $red !important;
}

.remove-item:hover {
    cursor: pointer;
    color: $red !important;
}