// Colors 
$blue: #21A0C3;
$green: #3AA551;
$yellow: #E4AF5F;
$red: #DF544D;

// Mono Colors
$white: white;
$grey1: #EEEEEE;
$grey2: #C4C4C4;
$grey3: #999999;
$grey4: #666666;
$grey5: #333333;
$black: black;

// Color Mapping
$colors: ();
$colors: map-merge(
    (
        'blue': $blue,
        'green': $green,
        'yellow': $yellow,
        'red': $red,

        'white': $white,
        'grey1': $grey1,
        'grey2': $grey2,
        'grey3': $grey3,
        'grey4': $grey4,
        'grey5': $grey5,
        'black': $black,
    ),
    $colors
);

$primary: $black;
$secondary: $white;
$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $red;
$light: $grey2;
$dark: $grey4;

$theme-colors: ();
$theme-colors: map-merge(
    (
        'default': $grey1,
        'primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'info': $info,
        'warning': $warning,
        'danger': $danger,
        'light': $light,
        'dark': $dark,
    ),
    $theme-colors
);