.icon {
    padding: 5px;
    margin: 5px;
    &-green {
        color: $green;
    }
    &-yellow {
        color: $yellow;
    }
    &-red {
        color: $red;
    }
    &-blue {
        color: $blue;
    }
    &-grey {
        color: $grey1;
    }
    &-small {
        font-size: x-small;
        vertical-align: top;
        color: $red;
    }
    &:hover {
	    color: $grey1;
        text-decoration: none !important;
        cursor: pointer;
    }
}