.icon {
    &-green {
        color: $green;
    }
    &-yellow {
        color: $yellow;
    }
    &-blue {
        color: $blue;
    }
    &-grey {
        color: $grey1;
    }
    &-black {
        color: $black;
    }
    &-small {
        font-size: x-small;
        vertical-align: top;
        color: $red;
    }
    &-delete {
        color: lighten($red,15%);
        &:hover {
            color: $red;
            cursor: pointer;
            text-decoration: !important;
        }
    }
}