// 
// inputs.scss
// 

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		outline-color: $grey5;
	}
}

.input-primary {
	padding: 10px 0px;
	margin: auto;
}

.input-primary label {
	display: block;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	font-size: small;
	font-feature-settings: 'tnum' on, 'lnum' on, 'ss01' on;
	color: $black;
	padding: 0px 10px;
	text-align: left;
}

.input-primary input {
	width: 100%;
	height: auto;
	font-family: 'Open Sans';
	font-style: normal;
	color: $black;
	background: $white;
	border: 1px solid darken($white, 5%);
	box-sizing: border-box;
	border-radius: 4px;
	padding: 6px 12px;
	font-size: medium;
	font-feature-settings: 'tnum' on, 'lnum' on, 'ss01' on;
}

// 
// Select
// 

select {
	position: relative;
	width: 100%;
	height: 40px;
	font-family: 'Open Sans';
	color: $grey1;
	background: $white;
	border: 1px solid darken($white, 5%);
	box-sizing: border-box;
	border-radius: 4px;
	padding: 6px 12px;
	font-size: medium;
	font-feature-settings: 'tnum' on, 'lnum' on, 'ss01' on;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		outline-color: $red;
	}
}

.select-options {	
	position: absolute;
	font-family: 'Open Sans';
	font-style: normal;
	color: $blue;
	background-color: $white;
	border: 1px solid darken($white, 5%);
	box-sizing: border-box;
	z-index: 10;
	width: 100%;
	border-radius: 4px;
	padding: 6px 12px;
	font-size: medium;
	font-feature-settings: 'tnum' on, 'lnum' on, 'ss01' on;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.select-option {
	padding: 4px 10px;
	font-family: 'Open Sans';
	font-style: normal;
	padding: 6px 12px;
	font-size: medium;
	color: $blue;
}

.select-option:last-child {
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.select-option:first-child {
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

// Slider

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 25px;
	background: #e1e1e1; 
	outline: none;
	-webkit-transition: .2s;
	transition: opacity .2s;
	height: 15px;
	border-radius: 5px;
}


.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	border-radius: 50%;
	appearance: none;
	width: 25px;
	height: 25px;
	background: $primary;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: $primary;
	cursor: pointer;
}

