// 
// body.scss
// 

body {
	background: $grey1;
	height: 100%;
	z-index: 1;
}

.container {
	max-width: 800px;
	@media only screen and (max-width: 600px)  {
		width: 100%;
		padding: 10px;
		margin-top: 50px;
	}
	min-height: calc(100vh - 180px);
	margin-top: 100px;
}

.page {
	display: flex;
	@media only screen and (max-width: 600px)  {
		display: block;
		height: 100% !important;
	}
}

// page heading // 

#page-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 40px auto 20px auto;
}

.page-title {
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: x-large;
	color: $blue;
}

// section // 
#section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	vertical-align: middle;
	margin: 40px auto 10px auto;
}

.section-title {
	font-family: 'Open Sans';
	font-weight: bolder;
	font-size: medium;
	color: $blue;
}

#page-menu {
	margin: auto;
	text-align: right;
	padding: 10px;
	margin: 15px auto 15px auto;
}


// mobile classes

.mobile-only {
	display: none;
}

@media only screen and (max-width: 600px) {
	.non-mobile-only {
		display: none !important;
	}

	.mobile-only {
		display: block !important;
	}

	.mobile-flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

