// 
// card.scss
//

.todo-card {
	align-items: center;
	text-align: center;
	background: $white;
	border-radius: 4px;
	margin: 20px auto;
	padding: 20px;
	box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	-moz-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
}

.todo-text {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.todo-img {
	text-align: center;
	margin: 20px;
	max-width: 150px;
}

.todo-btn {
	text-align: right;
}