// 
// card.scss
//

.todo-card {
	min-height: 300px;
	align-items: center;
	text-align: center;
	vertical-align: middle;
	background: $white;
	border-radius: 8px;
	box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	-moz-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
}

.todo-text {
	text-align: center;
	align-items: center;
	justify-content: center;
}

.todo-img {
	text-align: center;
	margin: 20px;
	max-height: 200px;
	@media only screen and (max-width: 950px)  {
		max-height: 100px;
	}
}

.todo-btns {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding-bottom: 20px;
}