// 
// card.scss
//

.todo-card {
	min-height: 300px;
	align-items: center;
	text-align: center;
	vertical-align: middle;
	background: $white;
	padding: 15px 30px;
	border-radius: 8px;
	box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	-moz-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	@media only screen and (max-width: 950px)  {
		min-height: 100px;
	}
}

.todo-text {
	text-align: center;
	align-items: center;
	justify-content: center;
}

.todo-img {
	text-align: center;
	max-height: 200px;
	@media only screen and (max-width: 950px)  {
		max-width: 80px;
	}
}

.todo-btns {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.todo-heading {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	font-size: large;
	@media only screen and (max-width: 950px)  {
		font-size: medium;
	}
	@media only screen and (max-width: 600px)  {
		font-size: small;
	}
}


.todo-body {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: medium;
	@media only screen and (max-width: 950px)  {
		font-size: small;
	}
	@media only screen and (max-width: 600px)  {
		font-size: x-small;
	}
}

.card-success {
	background: $success;
	color: $white;
	margin-bottom: 10px;
}

.card-error {
	background: $danger;
	color: $white;
	margin-bottom: 10px;
}


.card-text-icon {
	margin: 0px 10px;
}