// 
// card.scss
//

.card {
	width: 100%;
	color: $navy;
	background: $white;
	border: 1px solid darken($white, 5%);
	box-sizing: border-box;
	border-radius: 8px;
	font-family: 'Open Sans';
	font-size: small;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-align: left;
	padding: 10px 20px;
	margin: 10px auto 20px auto;

	&-prompt {
		background-color: $light-yellow;
		border: 1px solid darken($light-yellow, 5%);
	}

	&-info {
		background-color: transparent;
		border: none;
	}

	&-success {
		background-color: $light-green;
		border: 1px solid darken($light-green, 5%);
	}

	&-error {
		background-color: $light-red;
		border: 1px solid darken($light-red, 5%);
	}
	
	&-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-header-wrapper {
		display: flex;
		align-items: center;
	}

	&:hover {
		cursor: pointer;
	}
}

.card-text {
	color: $navy;
	font-family: 'Open Sans';
	font-size: small;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-overflow: ellipsis;

	&-icon {
		font-size: x-large;
		margin-right: 10px;
	}

	&-title {
		font-size: medium;
		font-weight: bolder;
	}

	&-description {
		font-size: small;
		color: $navy;
	}

	&-details {
		font-size: x-small;
		color: $navy;
	}
	&-value {
		font-weight: bold;
		font-size: x-large;
	}
	&-label {
		color: $navy;
		font-size: medium;
		text-overflow: ellipsis;
	}
	&-diff {
		color: $green;
		margin-top: 5px;
		font-size: x-small;
		line-height: 150%;
	}
	&-potential {
		margin-top: 5px;
		font-size: x-small;
		line-height: 125%;
	}
}

.task-card {
	display: flex;
	align-items: center;
}
