//
// footer.scss
//

footer {
	text-align: center;
    width: 100%;
    margin: 40px auto 0;
    padding-bottom: 20px;
}

#footer-text {
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: small;
	line-height: 120%;
	text-align: center;
	color: $grey3;
}

#sign-out {
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: small;
	line-height: 120%;
	text-align: center;
	color: $blue;
	padding-bottom: 10px;
}