//
// footer.scss
//

footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:40px;   /* Height of the footer */
	background: transparent;
	align-items: center;
}

#footer-text {
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: small;
	line-height: 120%;
	text-align: center;
	color: $grey3;
}