//
// footer.scss
//

footer {
	text-align: center;
    width: 100%;
    margin: 10px auto 0px auto;
}

#footer-top {
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: small;
	line-height: 120%;
	text-align: center;
	color: $grey3;
}