.form {
	width: 100%;
	cursor: pointer;
	padding: 0px 20px;
	font-family: 'Open Sans';
	font-size: large;
	font-style: large;
	font-weight: normal;
	font-feature-settings: 'tnum' on, 'lnum' on, 'ss01' on;
	vertical-align: middle;
	border-radius: 4px;
	
	&-header {
		display: flex;
		flex-flow: row-reverse;
		justify-content: space-between;
	}
}

