@import "nav.scss";
@import "table.scss";
@import "tabs.scss";
@import "body.scss";
@import "footer.scss";
@import "head.scss";
@import "spinner.scss";
@import "task.scss";
@import "card.scss";
@import "search_input.scss";
@import "form.scss";
@import "lists.scss";
@import "user_profile.scss";
@import "item_card.scss";
@import "modal.scss";