.item-card {
	background: white;
	padding: 10px 20px;
	border-radius: 3px;	
	margin-top: 15px;

}

.item-rank {
	color: $light-grey;
	font-family: Raleway;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	width: 35px;
}

.item-image {
	height: 60px;
	max-width: 120px;
	border-radius: 3px;
	margin-right: 20px;
}

.item-title {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	color: #333333;
}

.item-creator {
	color: $dark-grey;
}

.item-creator:hover {
	color: $dark-grey !important;
}

.no-decoration:hover {
	text-decoration: none !important;
}

.item-subtitle {
	font-weight: normal;
}

.delete-item {
	margin-left: 10px;
}

.delete-item:hover {
	color: #b30000;
	cursor: pointer;
}


