.item-container {
	display: flex;
	background: none;
	border-radius: none;	
	margin-bottom: 15px;
	align-items: center;
}

.item-sort {
	display: block;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	font-size: x-large;
}


.item-card {
	display: flex;
	width: 90%;
	background: $white;
	border-radius: 4px;
	padding-left: 5px;
	padding-right: 5px;
	align-items: center;
	height: 70px;
	border-bottom: 2px solid $grey2;
	&:hover {
		box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
		-webkit-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
		-moz-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	}
	@media only screen and (max-width: 950px)  {
		height: 60px;
	}
}

.item-ranking {
	display: block;
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: small;
	text-align: center;
	margin: 10px;
	color: $grey2;
	&:hover {
		color: $grey3;
		background: darken($white,2%);
	}
	@media only screen and (max-width: 950px)  {
		font-size: x-small;
		margin-right: 5px;
	}
}

.item-delete {
	display: flex;
	font-weight: normal;
	font-size: small;
	text-align: center;
	padding: 10px;
	align-items: center;
	margin-left: 20px;
	font-size: small;
}


.item-rank {
	display: flex;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: small;
	height: 20px;
	width: 20px;
	justify-content: center;
	text-align: center;
	align-items: center;
	background: $grey1;
	border-radius: 4px;
	color: $grey2;
	margin-bottom: 5px;
	@media only screen and (max-width: 950px)  {
		font-size: x-small;
		height: 15px;
		width: 15px;
	}
}

.item-box {
	width: 50px;
	height: 50px;
	margin: 10px;
	@media only screen and (max-width: 950px)  {
		height: 40px;
		width: 40px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

.item-image {
	width: 50px;
	height: 50px;
	border-radius: 2px;
	box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	-moz-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	object-fit: cover;
	@media only screen and (max-width: 950px)  {
		height: 40px;
		width: 40px;
	}
}

.item-details {
	display: block;
	margin: 10px;
	@media only screen and (max-width: 950px)  {
		margin-left: 5px;
	}
}

.item-creator {
	color: $grey5;
}

.item-creator:hover {
	color: $grey5 !important;
}

.no-decoration:hover {
	text-decoration: none !important;
}

.item-subtitle {
	font-weight: lighter;
}

.bookmark-icon {
	padding: 10px;
}

.bookmark-icon:hover {
	cursor: pointer !important;
}

