.item-card {
	background: lighten($grey1,3%);
	padding: 10px 20px;
	border-radius: 8px;	
	margin-top: 15px;
}

.item-box {
	width: 60px;
	height: 60px;
	margin-right: 20px;
	@media only screen and (max-width: 600px)  {
		height: 40px;
		width: 40px;
		margin-right: 10px;
	}
}

.item-image {
	width: 60px;
	height: 60px;
	border-radius: 8px;
	object-fit: cover;
	@media only screen and (max-width: 600px)  {
		height: 40px;
		width: 40px;
	}
}

.item-creator {
	color: $grey5;
}

.item-creator:hover {
	color: $grey5 !important;
}

.no-decoration:hover {
	text-decoration: none !important;
}

.item-subtitle {
	font-weight: normal;
}

.delete-item {
	margin-left: 10px;
}

.delete-item:hover {
	color: #b30000;
	cursor: pointer;
}


