.item-card {
	background: $white;
	padding: 10px;
	border-radius: 4px;	
	margin-top: 15px;
	display: flex;
	height: 70px;
	@media only screen and (max-width: 600px)  {
		height: 60px;
	}
}

.item-rank {
	display: flex;
	margin-right: 15px;
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: small;
	color: $grey3;
}

.item-box {
	width: 50px;
	height: 50px;
	margin-right: 20px;
	@media only screen and (max-width: 600px)  {
		height: 40px;
		width: 40px;
		margin-right: 10px;
	}
}

.item-image {
	width: 50px;
	height: 50px;
	border-radius: 2px;
	box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	-moz-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	object-fit: cover;
	@media only screen and (max-width: 600px)  {
		height: 40px;
		width: 40px;
	}
}

.item-details {
	display: block;
}

.item-creator {
	color: $grey5;
}

.item-creator:hover {
	color: $grey5 !important;
}

.no-decoration:hover {
	text-decoration: none !important;
}

.item-subtitle {
	font-weight: lighter;
}

.item-delete {
	display: flex;
	margin-left: 20px;
	font-weight: bold;
	font-size: small;
	color: $grey4;
	&-hover {
		color: $red;
		cursor: pointer;
	}
}


