// list tabs

.tabs {
	border-bottom: 1.5px solid $black;
	padding-bottom: 3px;
	box-sizing: border-box;
	margin-bottom: 15px;
}

.list-tab {
	width: 100%;
	color: $grey3;
	text-align: center;
	padding-right: 18px;
	position: relative;
	@media only screen and (max-width: 950px)  {
		padding-right: 8px;
	}
}

.list-tab:hover {
	cursor: pointer;

	.delete-list {
		display: block;
		position: absolute;
	}
}

.current-list-tab {
	color: $black;
}


// lists

#list {
	margin-top: 0px;
	border-radius: 4px;
	overflow-y: scroll;
	height: 100%;
	padding-bottom: 80px;
}

.list-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.new-list {
	position: relative;
}

.new-item {
	display: flex;
	text-align: right;
}

.no-list {
	color: $grey5;
}
// new list

.new-list:hover {
	cursor: pointer;
}

.new-item:hover {
	cursor: pointer;
}

.new-list-menu {
	position: absolute;
	margin: 0;
	width: auto;
	z-index: 120;
	right: 3px;
	background: darken($grey1, 10%);
    box-shadow: 0px 0px 8px rgba(58, 58, 68, 0.1), 0px 0px 16px rgba(90, 91, 106, 0.1);
    border-radius: 5px;
}

.new-list-menu div {
	display: block;
	padding: 8px 12px;
	font-family: 'Raleway';
    font-weight: bold;
    font-size: small;
    color: $black !important;
    text-align: center;
    border-radius: 5px;
}

.new-list-menu div:hover {
	background:darken($grey1, 15%);
	cursor: pointer;
}

#empty-state-new-list {
	width: 100px;
	margin: auto;

	.new-list-menu {
		left: 0px;
		top: 35px;
	}
}


.delete-list {
	font-size: 11px;
	right: 3px;
	top: 0px;
	display: none;
}

.delete-list:hover {
	color: $red;
}


