// list tabs

.tabs {
	border-bottom: solid 1px $black;
	padding-bottom: 5px;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.list-tab {
	width: 100%;
	color: $grey3;
	text-align: center;
	padding-right: 20px;
	position: relative;
	@media only screen and (max-width: 950px)  {
		padding-right: 10px;
	}
}

.list-tab:hover {
	cursor: pointer;

	.delete-list {
		display: block;
		position: absolute;
	}
}

.current-list-tab {
	color: $black;
}


// lists

#list {
	margin-top: 0px;
	border-radius: 4px;
	overflow-y: scroll;
	height: 100%;
	padding-bottom: 80px;
}

.new-list {
	position: relative;
}

.new-item {
	display: flex;
	text-align: right;
}

.no-list {
	color: $grey5;
}
// new list

.new-list:hover {
	cursor: pointer;
}

.new-item:hover {
	cursor: pointer;
}

.new-list-menu {
	position: absolute;
	margin: 0;
	width: 90px;
	z-index: 120;
	right: 0px;
	background: $white;
    box-shadow: 0px 0px 8px rgba(58, 58, 68, 0.1), 0px 0px 16px rgba(90, 91, 106, 0.1);
    border-radius: 5px;
}

.new-list-menu div {
	display: block;
	padding: 4px 15px;
	font-family: 'Raleway';
    font-weight: bold;
    font-size: small;
    color: $black !important;
    text-align: right;
    border-radius: 3px;
}

.new-list-menu div:hover {
	background: #f1f2f4;
	cursor: pointer;
}





.delete-list {
	font-size: 11px;
	right: 3px;
	top: 0px;
	display: none;
}

.delete-list:hover {
	color: $red;
}


