.new-list {
	margin: 20px 0px;
	font-size: 20px !important;
	position: relative;
	min-width: 200px;
}

.new-list:hover {
	cursor: pointer;
}

.new-list-menu {
	position: absolute;
	top: 55px;
	right: 0;
	z-index: 10;
	background: $white;
    box-shadow: 0px 0px 8px rgba(58, 58, 68, 0.1), 0px 0px 16px rgba(90, 91, 106, 0.1);
    border-radius: 5px;
}

.new-list-menu div {
	display: block;
	padding: 7px 20px;
	font-family: 'Open Sans';
    font-weight: normal;
    font-size: small;
    color: $navy !important;
}

.new-list-menu div:hover {
	background: #f1f2f4;
	cursor: pointer;
}

.list-tab {
	width: 100%;
	margin: 20px 10px;
	background: $orange;
	color: white;
	text-align: center;
	max-width: 300px;
}

.current-list-tab {
	background: $navy !important;
}