.new-list {
	color: $grey5;
	position: relative;
}

.new-item {
	color: $grey5;
	margin-top: 20px;
}

.no-list {
	color: $grey5;
}

.new-list:hover {
	cursor: pointer;
}

.new-item:hover {
	cursor: pointer;
}

.new-list-menu {
	position: absolute;
	width: 120px;
	top: 30px;
	z-index: 10;
	background: $white;
    box-shadow: 0px 0px 8px rgba(58, 58, 68, 0.1), 0px 0px 16px rgba(90, 91, 106, 0.1);
    border-radius: 5px;
    text-align: center;
}

.new-list-menu div {
	display: block;
	padding: 7px 20px;
	font-family: 'Open Sans';
    font-weight: normal;
    font-size: small;
    color: $blue !important;
}

.new-list-menu div:hover {
	background: #f1f2f4;
	cursor: pointer;
}

#list-tabs {
	margin: 40px 0px 20px;
	overflow-x: scroll;
}

.list-tab {
	width: 100%;
	color: $grey2;
	position: relative;
	margin-right: 10px;
}

.list-tab:hover {
	cursor: pointer;

	.delete-list {
		display: block;
		position: absolute;
	}
}

.current-list-tab {
	color: $black;
}

.delete-list {
	font-size: 11px;
	right: 3px;
	top: 0px;
	display: none;
}

.delete-list:hover {
	color: $red;
}


