.moodal {
	-webkit-box-shadow: 0px 0px 133px -31px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 133px -31px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 133px -31px rgba(0,0,0,0.75);
	position: absolute;
	background: white;
	z-index: 1000;
	margin-left: auto; 
  	margin-right: auto; 
  	width: 600px;
  	text-align: center;
  	top: 50px;
  	left: 0; 
  	right: 0; 
  	padding: 10px 20px;
  	border-radius: 4px;
}

#overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background: black;
	opacity: 50%;
	width: 100%;
	height: 100%;
	position: fixed;
}