.search-input {
	position: relative;
	padding: 10px;
}

.search-results {
	background: none;
	border-radius: 4px;
	padding-left: 15px;
    width: 100%;
}

.search-results div:hover {
	background: $grey1;
	cursor: pointer;
}