.search-input {
	position: relative;
	padding: 10px;
}

.search-results {
	background: none;
	border-radius: 4px;
    width: 100%;
    background: white;
    margin: 0px 5px 20px 0px;
    box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
	-moz-box-shadow: 0px 0px 8px 2px rgba(26,26,26,0.10);
}

.search-results div:hover {
	background: $grey1;
	cursor: pointer;
}

.search-item {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}