// 
// spinner.scss
// 

.spinner-bg {
	display: inline-block;
	text-align: right;
	align-items: center;
	background: transparent;
	border: none;
	width: 120px;
}

.spinner {
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	text-align: center;
	right: 0;
	left: 0;
}

.spinner img {
	width: 140px;
}