// 
// spinner.scss
// 

.spinner-bg {
	display: inline-block;
	justify-content: space-between;
	align-items: center;
	background: transparent;
	border: none;
	width: 120px;
}

.spinner {
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	text-align: center;
	right: 0;
	left: 0;
}

.spinner img {
	width: 300px;
	border-bottom: 1px soilid #f1f1f1;
}