.onboarding-box {
	background: $light-yellow;
	border: 1px solid darken($light-yellow, 5%);
	box-sizing: border-box;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 18px;
	margin: 15px auto 15px auto;
}

.onboarding-box h3 {
	font-family: Sen;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.0275em;
	font-feature-settings: 'tnum' on, 'lnum' on, 'ss01' on;
	color: #374958;
}

.onboarding-box div {
	font-family: Sen;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.018em;
	color: #374958;
}