#user-profile {
	margin: 20px auto;
	max-width: 100%;
	@media only screen and (max-width: 600px)  {
		margin: 10px auto 20px auto;
	}
}

#profile-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.header-logo {
	max-height: 30px;

}

#user-profile-picture-wrapper {
	position: relative;
}

#user-profile-picture {
	width: 80px;
	height: 80px;
	border-radius: 4px;
	border: 2px solid black;
	margin-right: 10px;
	@media only screen and (max-width: 600px)  {
		width: 60px;
		height: 60px;
	}
}

#user-profile-picture-wrapper:hover {
	filter: brightness(90%);
	cursor: pointer;
	#edit-profile-picture {
		display: block;
	}
}

#edit-profile-picture {
	position: absolute;
	top: 5px;
	right: 20px;
	font-size: 20px;
	display: none;
}

.profile-info {
	align-items: flex-start;
}

.user-link-icon {
	margin-left: 10px;
	color: $grey5;
	font-size: 12px;
} 

.user-name {
	align-items: flex-start;
}

.user-handle {
	align-items: flex-start;
	display: flex;
}

.user-since {
	align-items: baseline;
}

.user-link-icon {
	margin-left: 10px;
	color: $green;
	font-size: 10px;
	margin-bottom: 3px;
	align-items: center;
	vertical-align: middle;
}

.user-description {
	margin-top: 20px;
}

.user-handle .little-heading {
	color: $grey5 !important;
	padding-right: 17px;
}

.user-handle:hover {
	cursor: pointer;
	text-decoration: none !important;
}

.editable {
	display: flex; 
}

.editable:hover {
	cursor: pointer;
}

.edit-input input {
	background: $white;
	border: 1px solid darken($white, 5%);
	box-sizing: border-box;
	border-radius: 4px;
}

.edit-input textarea {
	background: $white;
	border: 1px solid darken($white, 5%);
	box-sizing: border-box;
	border-radius: 4px;
}

