#user-profile {
	margin: auto;
	max-width: 100%;
	padding: 20px;
	border-bottom: solid $grey2 1px;
	background: white;
	@media only screen and (max-width: 950px)  {
		margin: auto;
		border-bottom: none;
		padding: 20px;
	}
}

#profile-header {
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 950px)  {
	#lyrn {
		margin-top: 60px;
	}
}

@media only screen and (max-width: 950px)  {
	#confirm {
		margin-top: 80px;
	}
}




.mylink {
	display: block;
	text-align: left;
	padding: 7px 20px;
	background: lighten($blue,30%);
	color: $black;
	width: 100%;
}

.header-logo {
	max-height: 30px;

}

#user-profile-picture-wrapper {
	position: relative;
}

#user-profile-picture {
	width: 60px;
	height: 60px;
	border-radius: 4px;
	border: 2px solid black;
	margin-right: 10px;
	@media only screen and (max-width: 950px)  {
		width: 50px;
		height: 50px;
	}
}

#user-profile-picture-wrapper:hover {
	filter: brightness(90%);
	cursor: pointer;
	#edit-profile-picture {
		display: block;
	}
}

#edit-profile-picture {
	position: absolute;
	top: 5px;
	right: 20px;
	font-size: 20px;
	display: none;
}

.profile-info {
	align-items: flex-start;
}

.profile-buttons {
	display: flex;
}

.user-link-icon {
	margin-left: 10px;
	color: $grey5;
	font-size: 12px;
} 

.user-name {
	align-items: flex-start;
}

.user-handle {
	align-items: flex-start;
	display: flex;
}

.user-since {
	align-items: baseline;
}

.user-link-icon {
	margin-left: 10px;
	color: $green;
	font-size: 10px;
	margin-bottom: 3px;
	align-items: center;
	vertical-align: middle;
}

.user-description {
	margin-top: 10px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: medium;
	color: $grey5;
	@media only screen and (max-width: 950px) {
		font-size: small;
	}
}

.user-handle .little-heading {
	color: $grey5 !important;
	padding-right: 17px;
}

.user-handle:hover {
	cursor: pointer;
	text-decoration: none !important;
}

.editable {
	display: flex; 
}

.editable:hover {
	cursor: pointer;
}

.edit-input input {
	background: $white;
	border: 1px solid darken($white, 5%);
	box-sizing: border-box;
	border-radius: 4px;
}

.edit-input textarea {
	background: $white;
	border: 1px solid darken($white, 5%);
	box-sizing: border-box;
	border-radius: 4px;
}

.profile-tabs {
	margin-top: 20px;
}

.profile-icon {
	display: flex;
	justify-content: space-between;
	text-align: center;
	width: 40px;
}

.profile-tab {
	text-align: left !important;
	margin: 20px 0px;
}

// MOBILE TABS

.mobile-tabs {
	width: 100%;
	background: white;
	display: flex;
	align-items: center;
}

.mobile-tab {
	text-align: center;
	border-right: solid 1px $grey1;
}

.mobile-nav-footer {
	display: flex;
	justify-content: center;
	text-align: center;
	color: $grey3;
	margin: auto;
	padding-bottom: 10px;
	font-size: x-small;
	font-family: 'Open Sans';
	font-weight: normal;
}

.tabs-icon {
	font-size: x-large;
}
