#user-profile {
	margin: 40px auto 20px auto;
	max-width: 800px;
}

#user-profile-picture {
	width: 80px;
	height: 80px;
	border-radius: 8px;
	margin-right: 10px;
}

.user-link-icon {
	margin-left: 30px;
	color: $grey5;
	font-size: 12px;
} 

.user-handle {
	margin: 5px 0px;
}

.user-handle .little-heading {
	color: $grey5 !important;
	padding-right: 17px;
}

.user-handle:hover {
	cursor: pointer;
	text-decoration: none !important;
}

.editable {
	position: relative;
}

.editable:hover {
	cursor: pointer;
	.edit-pencil {
		display: block;
	}
}

.edit-pencil {
	font-size: 12px;
	position: absolute;
	top: 0px;
	right: 2px;
	display: none;
}

.edit-input input {
	background: $white;
	border: 1px solid darken($white, 5%);
	box-sizing: border-box;
	border-radius: 8px;
}

.edit-input textarea {
	background: $white;
	border: 1px solid darken($white, 5%);
	box-sizing: border-box;
	border-radius: 8px;
}

