#user-profile {
	margin: 40px auto 20px auto;
	max-width: 800px;
}

#user-profile-picture-wrapper {
	position: relative;
}

#user-profile-picture {
	width: 80px;
	height: 80px;
	border-radius: 4px;
	border: 2px solid black;
	margin-right: 10px;
}

#user-profile-picture-wrapper:hover {
	filter: brightness(90%);
	cursor: pointer;
	#edit-profile-picture {
		display: block;
	}
}

#edit-profile-picture {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 20px;
	display: none;
}

.user-link-icon {
	margin-left: 10px;
	color: $grey5;
	font-size: 12px;
} 

.user-handle {
	margin: 5px 0px;
	align-items: center;
	display: flex;
}

.user-link-icon {
	margin-left: 10px;
	color: $green;
	font-size: 10px;
	margin-bottom: 3px;
	align-items: center;
	vertical-align: middle;
}

.user-description {
	margin-top: 20px;
}

.user-handle .little-heading {
	color: $grey5 !important;
	padding-right: 17px;
}

.user-handle:hover {
	cursor: pointer;
	text-decoration: none !important;
}

.editable {
	display: flex; 
}

.editable:hover {
	cursor: pointer;
	color: $grey2;
}

.edit-input input {
	background: $white;
	border: 1px solid darken($white, 5%);
	box-sizing: border-box;
	border-radius: 4px;
}

.edit-input textarea {
	background: $white;
	border: 1px solid darken($white, 5%);
	box-sizing: border-box;
	border-radius: 4px;
}

