.auth-container {
	text-align: center;
	max-width: 400px;
	margin: auto;
	padding: 10px;
	min-height: calc(100vh - 180px);
}

.auth-heading {
	margin: 40px auto 20px auto;
}

.auth-card {
	background: $white;
	margin: auto;
	padding: 10px;
	border-radius: 8px;	
}

.auth-button {
	display: flex;
	margin: 20px;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.auth-description {
	margin: 10px 20px;
	text-align: center;
}

.auth-footing {
	margin: 10px 20px;
	text-align: center;
}

.auth-logo {
	width: 150px;
	margin-top: 40px;
}

.password-conditions {
	align-items: center;
	text-align: left;
}

.password-condition {
	display: 'flex';
	align-items: 'center';
	padding: auto 5px;
	margin: auto;
	font-family: 'Open Sans';
	font-style: normal;
	font-size: x-small;
	font-weight: normal;
}