.auth-container {
	text-align: center;
	width: 340px;
	margin: auto;
	min-height: calc(100vh - 180px);
}

.auth-heading {
	margin-bottom: 20px;
}

.auth-card {
	background: $white;
	padding: 10px;
	border-radius: 4px;	
}