.auth-container {
	text-align: center;
	width: 300px;
	margin: auto;
	min-height: calc(100vh - 180px);
}


.password-condition {
	display: 'flex';
    align-items: 'center';
	text-align: right;
	font-size: 8px;
    width: 100%;
    margin: 10px auto;
}

.password-condition span {
	margin-left: 10px;
	font-family: Sen;
}