.auth-container {
	text-align: center;
	max-width: 400px;
	margin: auto;
	min-height: calc(100vh - 180px);
}

.auth-heading {
	margin: 40px auto 20px auto;
}

.auth-card {
	background: $white;
	padding: 10px;
	border-radius: 4px;	
}

.auth-button {
	margin: 20px;
}

.auth-description {
	margin: 10px 20px;
	text-align: left;
}

.auth-footing {
	margin: 10px 20px;
	text-align: center;
}

.auth-logo {
	width: 150px;
	margin-top: 40px;
}