#upload-box {
	color: #374958;
	background: #f1f1f1;
	border: 1px solid darken($white, 5%);
	box-sizing: border-box;
	font-family: Sen;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 143%;
	padding: 20px 10px;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#download-census {
	color: $primary;
}

#download-census:hover {
	text-decoration: underline;
	cursor: pointer;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#roster-table {
	border: 1px solid darken($white, 5%);
	box-sizing: border-box;
}

#roster-table td:first-child {
	padding-left: 30px !important;
}

#roster-table th:first-child {
	padding-left: 30px !important;
}

#roster-table td:last-child {
	padding-right: 30px !important;
}

#roster-table th:last-child {
	padding-right: 30px !important;
}

.roster-header {
	text-align: right;
	margin-bottom: 30px;
	margin-top: -40px;
}

.design-name-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.design-name {
	font-family: 'Open Sans' !important;
	font-style: normal;
	font-weight: bold;
	font-size: large !important;
	color: #E1795A !important;
	display: inline;
}

#edit-design-name {
	color: $blue !important;
	font-size: x-small;
	margin-left: 5px;
}

#edit-design-name:hover {
	cursor: pointer;
	filter: opacity(70%);
}

#no-classes-msg {
	font-family: Sen;
	font-style: normal;
	font-weight: normal;
	font-size: small;
	line-height: 143%;
	text-align: center;
	letter-spacing: 0.018em;
	color: #E1795A;
	background: #FFFFFF;
	border: 1px solid darken($white, 5%);
	box-sizing: border-box;
	border-radius: 2px;
	padding: 20px;
	margin-top: 10px;
}


#pricing-breakdown-btn {
	text-align: center;
	font-family: Sen;
	font-style: normal;
	font-weight: normal;
	font-size: small;
	line-height: 120%;
	text-align: center;
	letter-spacing: 0.06em;
	color: #758491;
	margin-top: 10px;
}

#pricing-breakdown-btn:hover {
	cursor: pointer;
}

.pb-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 30px 20px 30px;
}


.pb-big {
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: medium;
	font-feature-settings: 'tnum' on, 'lnum' on, 'ss01' on;
	color: $grey1;
}

.pb-small {
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: small;
	color: $grey1;
}

.pb-arrow:hover {
	cursor: pointer;
}


.pf-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.small-arrow {
	line-height: 0.5;
}

.small-arrow:hover {
	cursor: pointer;
}

