@import "config";
$fa-font-path: "webfonts";
@import "~@fortawesome/fontawesome-pro/scss/duotone.scss";
@import "~@fortawesome/fontawesome-pro/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-pro/scss/light.scss";
@import "~@fortawesome/fontawesome-pro/scss/regular.scss";
@import "~@fortawesome/fontawesome-pro/scss/solid.scss";
@import "~@fortawesome/fontawesome-pro/scss/brands.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "pages";
@import "components";

.mega-heading {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	font-size: xx-large;
	@media only screen and (max-width: 950px)  {
		font-size: large;
	}
}
.huge-heading {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: lighter;
	font-size: x-large;
	@media only screen and (max-width: 950px)  {
		font-size: large;
	}
}

.tabs-heading {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	font-size: large;
	@media only screen and (max-width: 950px)  {
		font-size: medium;
	}
}

.big-heading {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	font-size: large;
	@media only screen and (max-width: 950px)  {
		font-size: medium;
	}
}

.tab-heading {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	font-size: medium;
	@media only screen and (max-width: 950px)  {
		font-size: small;
	}
	@media only screen and (max-width: 600px)  {
		font-size: x-small;
	}
}


.main-heading {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: medium;
	@media only screen and (max-width: 950px)  {
		font-size: small;
	}
}

.little-heading {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	font-size: small;
	@media only screen and (max-width: 950px)  {
		font-size: x-small;
	}
}

.tiny-heading {
	font-family: 'Open Sans';
	font-size: x-small;
	font-weight: lighter;
	@media only screen and (max-width: 950px)  {
		font-size: xx-small;
	}
}


.huge-body {	
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	font-size: medium;
	@media only screen and (max-width: 950px)  {
		font-size: small;
	}
}
.big-body {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: small;
	color: $grey5;
	@media only screen and (max-width: 950px)  {
		font-size: x-small;
	}
}

.main-body {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: x-small;
	color: $grey4;
	@media only screen and (max-width: 950px)  {
		font-size: xx-small;
	}
}

.little-body {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	font-size: xx-small;
}

.tiny-body {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: x-small;
}

.truncate {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}





.h {
	&-itemtitle {
		font-size: medium;
		font-weight: bold;
		@media only screen and (max-width: 950px)  {
			font-size: smaller;
		}
	}
		&-rank {
		color: $grey2;
		display: flex;
		align-items: center;
		text-align: center;
		padding-right: 10px;
		@media only screen and (max-width: 950px)  {
			font-size: smaller;
		}
	}
}

.b {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: medium;
	color: $black;
	line-height: 100%;

	&-since {
		font-size: x-small;
		font-weight: lighter;
		color: $grey4;
	}

	&-description {
		font-size: small;
		font-weight: lighter;
		margin: 20px auto;
		line-height: normal;
	}

	&-creator {
		font-size: small;
		font-weight: normal;
		line-height: normal;

		@media only screen and (max-width: 950px)  {
			font-size: smaller;
		}
	}
}








.b-copy {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.0075em;
	color: #374958;
	text-align: left;
	padding: 2px 0px;
}

.p-copy {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.018em;
	color: #758491;
	text-align: left;
	padding: 2px 0px;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.nohover {
	pointer-events: none;
	cursor: none;
}

.hover {
	pointer-events: auto;
}

.flex {
	display: flex;
	align-items: center;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-around {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.flex-grow {
	flex-grow: 1;
}

.tippy-popper {
	max-width: 260px;
	background: black;
	box-sizing: border-box;
	border-radius: 4px;
	color: $white;
	font-family: 'Open Sans';
	font-size: x-small;
	font-weight: normal;
	padding: 5px 10px;
	margin: 5px;
}

.draggable {
    cursor: move;
    cursor: grab;
}

.draggable:active {
    cursor: grabbing;
}
