@import "config";
$fa-font-path: "webfonts";
@import "~@fortawesome/fontawesome-pro/scss/duotone.scss";
@import "~@fortawesome/fontawesome-pro/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-pro/scss/light.scss";
@import "~@fortawesome/fontawesome-pro/scss/regular.scss";
@import "~@fortawesome/fontawesome-pro/scss/solid.scss";
@import "~@fortawesome/fontawesome-pro/scss/brands.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "pages";
@import "components";

h1 {
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 28px;
	color: $navy;
}

h2 {
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 22px;
	color: $navy;
}

h3 {
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 16px;
	color: $navy;
}

h4 {
	font-family: 'Open Sans';
	font-weight: bolder;
	font-size: 14px;
	color: $navy;
}

p {
	font-family: 'Open Sans';
	font-weight: normal;
    font-size: 14px;
	color: $navy;
	margin: auto;
}

.huge-heading {
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
}

.big-heading {
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
}

.main-heading {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
}

.little-heading {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
}

.big-body {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
}

.main-body {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
}

.little-body {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 14px;
}

.little-strong-body {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 14px;
	color: $dark-grey;

}

.b-copy {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.0075em;
	color: #374958;
	text-align: left;
	padding: 2px 0px;
}

.p-copy {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.018em;
	color: #758491;
	text-align: left;
	padding: 2px 0px;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.auth-logo {
	width: 150px;
	margin: 60px 0px 40px;
}

.nohover {
	pointer-events: none;
	cursor: none;
}

.hover {
	pointer-events: auto;
}

.flex {
	display: flex;
	align-items: center;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-grow {
	flex-grow: 1;
}

.tippy-popper {
	max-width: 260px;
	background: $orange;
	border: 1px solid darken($orange, 5%);
	box-sizing: border-box;
	border-radius: 8px;
	color: $white;
	font-family: 'Open Sans';
	font-size: x-small;
	font-weight: normal;
	padding: 5px 10px;
	margin: 5px;
}

.draggable {
    cursor: move;
    cursor: grab;
}

.draggable:active {
    cursor: grabbing;
}
