@import "config";
$fa-font-path: "webfonts";
@import "~@fortawesome/fontawesome-pro/scss/duotone.scss";
@import "~@fortawesome/fontawesome-pro/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-pro/scss/light.scss";
@import "~@fortawesome/fontawesome-pro/scss/regular.scss";
@import "~@fortawesome/fontawesome-pro/scss/solid.scss";
@import "~@fortawesome/fontawesome-pro/scss/brands.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "pages";
@import "components";

.h {
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: x-large;
	line-height: 100%;
	&-name {
		font-weight: lighter;
	}
	&-handle {
		font-size: large;
		font-weight: bold;
	}
	&-small {
		font-size: small;
		font-weight: lighter;
		line-height: 150%;
	}
	&-tab {
		font-size: x-large;
		font-weight: bolder;
		@media only screen and (max-width: 600px)  {
			font-size: medium;
		}
	}
	&-list {
		font-size: medium;
		font-weight: lighter;
		line-height: 150%;
		@media only screen and (max-width: 600px)  {
			font-size: x-small;
		}
	}
	&-itemtitle {
		font-size: medium;
		font-weight: bold;
		@media only screen and (max-width: 600px)  {
			font-size: smaller;
		}
	}
		&-rank {
		color: $grey2;
		display: flex;
		align-items: center;
		text-align: center;
		padding-right: 10px;
		@media only screen and (max-width: 600px)  {
			font-size: smaller;
		}
	}
}

.b {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: medium;
	color: $black;
	line-height: 100%;

	&-since {
		font-size: x-small;
		font-weight: lighter;
		color: $grey4;
	}

	&-description {
		font-size: small;
		font-weight: lighter;
		margin: 20px auto;
		line-height: normal;
	}

	&-creator {
		font-size: small;
		font-weight: normal;
		line-height: normal;

		@media only screen and (max-width: 600px)  {
			font-size: smaller;
		}
	}
}

.big-heading {
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
}

.main-heading {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
}

.little-heading {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
}

.big-body {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
}

.main-body {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
}

.little-body {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 14px;
}

.little-strong-body {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 14px;
	color: $grey5;

}

.b-copy {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.0075em;
	color: #374958;
	text-align: left;
	padding: 2px 0px;
}

.p-copy {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.018em;
	color: #758491;
	text-align: left;
	padding: 2px 0px;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.auth-logo {
	width: 150px;
	margin: 60px 0px 40px;
}

.nohover {
	pointer-events: none;
	cursor: none;
}

.hover {
	pointer-events: auto;
}

.flex {
	display: flex;
	align-items: center;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-grow {
	flex-grow: 1;
}

.tippy-popper {
	max-width: 260px;
	background: $red;
	border: 1px solid darken($red, 5%);
	box-sizing: border-box;
	border-radius: 8px;
	color: $white;
	font-family: 'Open Sans';
	font-size: x-small;
	font-weight: normal;
	padding: 5px 10px;
	margin: 5px;
}

.draggable {
    cursor: move;
    cursor: grab;
}

.draggable:active {
    cursor: grabbing;
}
